<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>ZEPHYRS - Homepage</title>
    
    <!--Stylesheets-->
    <link href="{{ url_for('static', filename='assets/lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <!-- Pre loading -->
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <!-- Toolbar -->
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">ZEPHYRS</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="http://localhost/dashbrd.php">DASHBOARD</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="main">
        <!-- Title-ZEPHYRS -->
        <section class="module bg-dark-60 about-page-header" data-background="http://wallpapercave.com/wp/2I03ZvH.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">ZEPHYRS</h2>
                <div class="module-subtitle font-serif">For any change, you need to play your part.</div>
              </div>
            </div>
          </div>
        </section>
        <!-- Who we are -->
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <br>
                <h5 class="font-alt">We’re a digital creative agency</h5><br/>
                <p>With techological development, more and more people are depending 
                  on devices to interact with each other using social media, share their 
                  opinions. It has brought us to a higher sense of knowledge and vast 
                  education, due to its vast availability and utilizing technology 
                  to try to fill personal voids in human interaction. We analyse people's 
                  feedback during major crises and visualise using power technological tools.
                  </p>
              </div>
              <div class="col-sm-6">
                <h6 class="font-alt"><span class="icon-tools-2"></span> Development
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-strategy"></span> Branding
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-target"></span> Marketing
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
                <h6 class="font-alt"><span class="icon-chat"></span> Communication
                </h6>
                <div class="progress">
                  <div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100"><span class="font-alt"></span></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Get to know us -->
        <hr class="divider-w">
        <section class="module bg-dark-60" data-background="http://wallpapercave.com/wp/2I03ZvH.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
              <h1 style="font-family: Roboto Condensed">GET TO KNOW US</h1><br/>
              </div>
              <div class="col-sm-6">
                <p>To everything there is a good and a bad, a yin and a yang. With technology, it has brought 
                  us to a higher sense of knowledge and vast education, but due to its vast availability and 
                  utilizing technology to try to fill personal voids in human interaction, technology has become 
                  the death of community and is becoming the death of humanity </p>
              </div>
            </div>
          </div>
        </section>
        <!-- Advantages -->
        <section class="module" id="services">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Our Advantages</h2>
                <div class="module-subtitle font-serif"></div>
              </div>
            </div>
            <div class="row multi-columns-row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-lightbulb"></span></div>
                  <h3 class="features-title font-alt">Ideas and concepts</h3>
                  <p>Innovation idea generation should focus on adding high-value new ideas and developing those ideas into concepts. Driving bigger and better ideas and concepts through the innovation funnel.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-bike"></span></div>
                  <h3 class="features-title font-alt">Optimised for speed</h3>
                  <p>Website performance optimization, the focal point of technologically superior website designs is the primary factor dictating success for modern online businesses</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-tools"></span></div>
                  <h3 class="features-title font-alt">Designs &amp; interfaces</h3>
                  <p>User Interface Design is one of the reasons that your website will start to see an influx in traffic. It draws people in and keeps them there. We concentrate in providing a good look and feel user interface.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="features-item">
                  <div class="features-icon"><span class="icon-gears"></span></div>
                  <h3 class="features-title font-alt">Highly User Friendly</h3>
                  <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors. User benificiary is the top notch concern and we never fail in providing them.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Contact details -->
        <section class="module bg-dark-60" data-background="http://wallpapercave.com/wp/2I03ZvH.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">About Zephyrs</h5>
                  <p>We work together to design, create and produce work that we are proud of for folks we believe in.</p>
                  <p>Phone: +91 88257 23971</p>Cell: +91 73582 42068  / +91 63826 05628
                  <p>Email:<a href="#"> zephyrs3416@gmail.com</a></p>
                </div>
              </div>              
            </div>
          </div>
        </section>
      </div>
      <!-- copyright -->
      <hr class="divider-d">
      <footer class="footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p class="copyright font-alt" style="font-size: 1rem;">&copy; 2020&nbsp;ZEPHYRS, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
              <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <script>
      window.watsonAssistantChatOptions = {
          integrationID: "443d4ddf-d5a9-4b6d-b0eb-d15f23446c3d", // The ID of this integration.
          region: "eu-gb", // The region your integration is hosted in.
          serviceInstanceID: "3208947f-ead0-429f-be09-25ca3fabdce5", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
        document.head.appendChild(t);
      });
    </script>
    <!--JavaScripts-->
    <script src="/static/assets/lib/jquery/dist/jquery.js"></script>
    <script src="/static/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/assets/lib/wow/dist/wow.js"></script>
    <script src="/static/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/static/assets/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/static/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/static/assets/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/static/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/static/assets/lib/smoothscroll.js"></script>
    <script src="/static/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/static/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/main.js"></script>
  </body>
</html>